 button {
    font-size: 18px;
    background-color: green;
    color: white;
    width: auto;
    height: auto;  
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    width: 100px;
    
}

.button_delete {
    font-size: 18px;
    background-color: red;
    color: white;
    width: auto;
    height: auto;  
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    width: 100px;
}

.button_edit {
    font-size: 18px;
    background-color: orange;
    color: white;
    width: auto;
    height: auto;  
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    width: 100px;
}

.jc-center {
    justify-content: center;
  }

.margines {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* html {
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
} */
.body2 {
	margin: 0 auto;
	padding: 0;
        display: block;
	width: 1004px;
        overflow: auto;
}
#header {
        width:100%;
	float: left;
	background-color: #888;
}
#left {
	width: 300px;
	float: left;
	overflow: hidden;
	background-color: #ccc;
}
#right {
	width: 200px;
	float: right;
	overflow: hidden;
	background-color: #ccc;
}
#content {
	width: 604px;
	float: left;
	overflow: hidden;
	background-color: #fff;
}
#footer {
	clear: both;
	width: 100%;
	background-color: #888;
}